* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.00938em;
  background-color: #fcfcfc;
  user-select: none;
  font-family: Poppins;
}

*:focus {
  outline: none;
}

svg {
  height: 1rem;
}

.margin-bottom {
  margin-bottom: 2.3rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  /* padding: 0 3.2rem; */
}

.section--zig-zag-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
}

.section--zig-zag-wrapper:nth-child(even) .zig-zag--text-wrapper {
  grid-column: 2/3;
  grid-row: 1;
}

.section--zig-zag-wrapper:nth-child(even) .zig-zag--video-wrapper {
  grid-column: 1/2;
}

.minor-max-heading {
  font-family: Montserrat;
  font-size: 1.6rem;
  color: rgb(26, 46, 98);
  font-weight: 500;
  line-height: 130%;
  opacity: 0.7;
  text-align: center;
}

.minor-heading {
  font-family: Montserrat;
  font-size: 3.2rem;
  color: rgb(26, 46, 98);
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}

.major-heading {
  font-family: Poppins;
  font-size: 4.8rem;
  color: rgb(26, 46, 98);
  font-weight: 700;
  line-height: 55px;
  padding-bottom: 16px;
}

.sub-heading {
  font-family: Poppins;
  font-size: 18px;
  color: rgb(26, 46, 98);
  font-weight: 400;
  line-height: 140%;
  opacity: 0.9;
}

.zig-zag-sub-heading {
  font-family: Montserrat;
  font-size: 20px;
  color: rgb(30, 150, 252);
  font-weight: 600;
  line-height: normal;
}

.color-blue {
  color: #1e96fc;
}

.nav--star {
  height: 1.6rem;
  width: 1.6rem;
}

.nav--ul li {
  list-style: none;
  color: #1a2e62;
  font-size: 1.8rem;
  font-weight: 600;

  display: flex;
  gap: 0.8rem;
}

.nav--ul .nav--li:hover {
  color: #1e96fc;
  cursor: pointer;
}

.option:hover .down {
  transform: rotate(180deg);
}

.nav--full-li-wrapper:hover .hidden--ul {
  display: block !important;
}

.nav--ul {
  display: flex;
  justify-content: center;
  gap: 2.8rem;
  height: 3rem;
}

.hidden--ul {
  border-radius: 0.5rem;
  padding: 0 1.4rem 1.8rem 1.4rem;
  background-color: #fcfcfc;
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
  /* height: 14.2rem; */
  height: fit-content;
  width: fit-content;
  margin-top: 1.2rem;
  z-index: 1;
  position: absolute;
  top: 80%;
  display: none !important;
}

.hidden {
  margin-top: 2.4rem;
}

.header--btn-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.left {
  transform: rotate(270deg);
}

.hero--btn {
  padding: 1.6rem 7.9rem;
}

.header--btn {
  padding: 1.6rem 5.4rem;
}

.btn {
  font-size: 1.9rem;
  border-radius: 0.8rem;
  letter-spacing: 0.02857em;
  cursor: pointer;
  font-family: Poppins;
  transition: all 0.3s ease;
}

.login {
  border: 1px solid rgb(26, 46, 98);
  color: #1a2e62;
  font-weight: 500;
  background-color: #fcfcfc;
  padding: 1.5rem 4.8rem;
}

.fill {
  color: #fcfcfc;
  background-color: #182c62;
  font-weight: 600;
  /* padding: 1.6rem 7.2rem; */
  border: none;
}

.return {
  font-weight: 400;
  color: rgba(26, 46, 98, 0.42);
}

.product-wrapper {
  width: 47.5rem;
  height: fit-content;
  border: 2px solid #f4f4f4;
  border-radius: 2rem;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.product:last-child {
  margin-bottom: 0;
}

.product-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.product--about-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  padding-top: 0.5rem;
}

.product-3-wrapper {
  padding: 8% 3% 8% 5%;
  gap: 18px;
}

.product-name {
  font-family: Poppins;
  font-size: 11.34px;
  color: rgb(26, 46, 98);
  font-weight: 600;
  line-height: 13.96px;
}

.product--tier {
  font-family: Poppins;
  font-size: 9.59px;
  color: rgba(26, 46, 98, 0.63);
  font-weight: 500;
  line-height: 13.96px;
}

.product--dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: rgb(30, 150, 252);
}

.product--link {
  font-family: Montserrat;
  font-size: 11.34px;
  color: rgb(30, 150, 252);
  font-weight: 700;
  line-height: 13.96px;
}

.product--arrow {
  height: 1.4rem;
  width: 1.4rem;
  color: rgb(30, 150, 252);
}

.product-btn {
  background-color: rgba(91, 163, 0, 0.08);
  width: auto;
  color: rgb(91, 163, 0);
  height: 23.12px;
  border-radius: 5.97px;
  font-size: 11.05px;
  font-family: Poppins;
  line-height: 12.1px;
  box-shadow: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 5px;
  gap: 5px;
  border: none;
}

.btn--content {
  letter-spacing: 0.1rem;
}

.zig-zag-vedio {
  height: 100%;
  width: 100%;
}

.sub-heading--icon {
  display: flex;
  align-items: center;
}

.zig-zag--star {
  display: flex;
  align-items: center;
  height: 2.7rem;
  width: 2.8rem;
}

.zig-zag-btn {
  background-color: rgb(30, 150, 252);
  border: 1px solid rgb(30, 150, 252);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;
}

.btn--img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--text {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  color: rgb(252, 252, 252);
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}

.hover:hover {
  opacity: 0.8;
  transition: all 0.4s ease;
}
