/* FOR DEKSTOP 1440 */

@media (max-width: 90em) {
  .aside--heading-wrapper {
    position: absolute;
    top: 45%;
  }

  html {
    font-size: 59.2%;
  }
}

/* FOR SMALLER DEKSTOP 1344 */

@media (max-width: 84em) {
  html {
    font-size: 56.25%;
  }

  .header--btn-wrapper {
    gap: 1.2rem;
  }

  .section--zig-zag-wrapper {
    gap: 2.4rem;
  }

  .sub-heading {
    font-size: 1.7rem;
  }
}

/* FOR SMALLER LAPTOP */

@media (max-width: 75em) {
  html {
    font-size: 50.25%;
  }

  .aside--heading-wrapper {
    position: absolute;
    top: 45%;
  }

  .card {
    width: 16.23rem;
    height: 22.73rem;
    border-radius: 0.77rem;
  }

  .reply {
    font-size: 1.2rem;
  }

  .by-name {
    font-size: 1rem;
  }

  .by-work {
    font-size: 0.6rem;
  }

  .footer-main-heading {
    font-size: 1.5rem;
  }

  .footer-main-ul li {
    font-size: 1.5rem;
  }

  .story {
    width: 50.2rem;
  }

  .section-zig-zag {
    padding: 0 5% 0 5%;
  }

  .zig-zag-video {
    height: 95%;
    width: 95%;
  }

  .section-calulator- {
    padding: 5.8rem;
  }

  .major-heading {
    font-size: 4.2rem;
  }

  .section--zig-zag-wrapper {
    gap: 14.2rem;
  }

  .section-zig-zag {
    gap: 16.2rem;
  }

  .need--img {
    height: 15%;
    width: 15%;
  }

  .nav-part {
    column-gap: 5.2rem;
  }

  .pensionbox-logo {
    height: 5rem;
    width: 18rem;
  }

  .login {
    padding: 1.5rem 4.8rem;
  }

  .aside-primary-heading {
    font-size: 1.8rem;
  }

  .aside-sub-heading {
    font-size: 1.4rem;
  }

  .header--btn {
    padding: 1.6rem 4.4rem;
  }

  .grid {
    column-gap: 3.6rem;
    row-gap: 0;
  }
}
