/* FOR DEKSTOP 1440 */

@media (max-width: 90em) {
  .aside--heading-wrapper {
    position: absolute;
    top: 45%;
  }

  html {
    font-size: 59.2%;
    overflow-x: hidden;
  }
}

/* FOR SMALLER DEKSTOP 1344 */

@media (max-width: 84em) {
  html {
    font-size: 56.25%;
    overflow-x: hidden;
  }

  .header--btn-wrapper {
    gap: 1.2rem;
  }

  .section--zig-zag-wrapper {
    gap: 2.4rem;
  }

  .sub-heading {
    font-size: 1.7rem;
  }
}

/* FOR SMALLER LAPTOP */

@media (max-width: 75em) {
  html {
    font-size: 50.25%;
    overflow-x: hidden;
  }

  .aside--heading-wrapper {
    position: absolute;
    top: 45%;
  }

  .card {
    width: 16.23rem;
    height: 22.73rem;
    border-radius: 0.77rem;
  }

  .reply {
    font-size: 1.2rem;
  }

  .by-name {
    font-size: 1rem;
  }

  .by-work {
    font-size: 0.6rem;
  }

  .footer-main-heading {
    font-size: 1.5rem;
  }

  .footer-main-ul li {
    font-size: 1.5rem;
  }

  .story {
    width: 50.2rem;
  }

  .section-zig-zag {
    padding: 0 5% 0 5%;
  }

  .zig-zag-video {
    height: 95%;
    width: 95%;
  }

  .section-calulator- {
    padding: 5.8rem;
  }

  .major-heading {
    font-size: 4.2rem;
  }

  .section--zig-zag-wrapper {
    gap: 14.2rem;
  }

  .section-zig-zag {
    gap: 16.2rem;
  }

  .need--img {
    height: 15%;
    width: 15%;
  }

  .nav-part {
    column-gap: 5.2rem;
  }

  .pensionbox-logo {
    height: 5rem;
    width: 18rem;
  }

  .login {
    padding: 1.5rem 4.8rem;
  }

  .aside-primary-heading {
    font-size: 1.8rem;
  }

  .aside-sub-heading {
    font-size: 1.4rem;
  }

  .header--btn {
    padding: 1.6rem 4.4rem;
  }

  .grid {
    column-gap: 3.6rem;
    row-gap: 0;
  }

  .main-footer-wrapper {
    padding: 0.8rem 6rem 0.8rem 6rem;
  }
}

/* NAVBAR CASE */

@media (max-width: 58em) {
  .nav {
    display: none;
    visibility: hidden;
  }

  .header--wrapper {
    justify-content: space-between;
  }

  .hidden {
    padding: 1.2rem;
  }

  .story {
    width: 54.2rem;
  }

  .main-footer-wrapper {
    padding: 0.8erm 1.4rem 0.8rem 1.4rem;
  }

  .header {
    padding: 0.8rem 1.4rem;
  }

  .hamburger {
    height: 3.2rem;
    width: 3.2rem;
    margin: 1.6rem;
    margin-right: 1rem;
    stroke: rgb(26, 46, 98);
  }

  .nav-open .hidden-nav-wrapper {
    transform: translateX(0);
  }

  .cut {
    display: block;
  }

  .calculator-wrapper {
    display: block;
  }

  .calculator--pension-bottom {
    margin: 1.2rem 0 2.4rem 0;
  }

  .hidden-img {
    display: none;
    height: 50%;
  }

  .default-hidden-img {
    display: block;
  }

  .product--card-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 0 12.2rem 0;
    gap: 3.2rem;
  }

  .section--zig-zag-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* .zig-zag--vedio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .zig-zag-video {
    height: 70%;
    width: 70%;
  }

  .hero--btn-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hero--links-for-app {
    gap: 1.6rem;
  }

  .hero--app-wrapper {
    gap: 0;
  }

  .divider {
    display: none;
  }

  .download {
    height: 90%;
    width: 90%;
  }

  .stories-wrapper {
    display: flex;
    flex-direction: column;
  }

  .main-footer-wrapper {
    flex-direction: column;
    gap: 8.2rem;
  }

  .logo-wrapper {
    justify-content: center;
    align-items: center;
  }

  .align {
    align-items: center;
    justify-content: center !important;
  }

  .section-table {
    padding: 2.4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 2.4rem;
  }

  .nav-part {
    justify-content: center;
  }

  .table-1 {
    display: none;
  }

  .default-hidden-table {
    display: block;
  }

  .table-2--text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .table-2--heading-label-wrapper {
    gap: 2.4rem;
  }
}

/* FOR SMALLER TABS */

@media (max-width: 44em) {
  .hero--page-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-mp4-container {
    width: 100%;
  }

  .will-hidden {
    display: none;
  }

  .faq {
    width: 56.2rem;
  }

  .hero--page-wrapper {
    padding: 0 4% 0 4%;
  }

  .section-calculator {
    padding: 0 6% 0 6%;
  }

  .header--btn {
    display: none;
  }

  .the-end {
    flex-direction: column;
    gap: 3.2rem;
  }
}

/* FOR MOBILES */

@media (max-width: 34em) {
  html {
    font-size: 40%;
  }

  .calculator--invest-wrapper {
    flex-direction: column;
    gap: 1.8rem;
    align-items: flex-start;
  }

  .calculator--btn {
    margin-bottom: 2.4rem;
  }

  .prime-video {
    display: none;
  }

  .hidden-para {
    display: block;
  }

  .hidden-paragrafh {
    display: none;
  }

  .default-hidden-img {
    height: 44%;
  }

  .profile-wrapper {
    padding: 0 2.4rem 0 2.4rem;
  }

  .aside-primary-heading {
    font-size: 1.8rem;
  }

  .aside-sub-heading {
    font-size: 1.2rem;
  }

  .small {
    padding: 0.6rem 1.4rem !important;
  }

  .product-img {
    height: 2.8rem;
    width: 2.4rem;
  }

  .bar--divider {
    height: 6.4rem;
  }

  .change-c {
    display: none;
  }

  .amount-in-month-left {
    line-height: 5rem;
  }

  .nav-part {
    grid-template-columns: 1fr 1fr;
  }

  .story--side-img {
    height: 8.2rem;
    width: 12.4rem;
  }

  .need-wrapper {
    gap: 1.2rem;
  }

  .faq {
    width: 47.2rem;
  }

  .story {
    width: 38.4rem;
  }

  .need-wrapper {
    flex-direction: column;
  }
}
