/**************STICKY-WORK************/

.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgba(252, 252, 252, 0.949);
}

/***************BANNER***************/

.banner {
  background: linear-gradient(to left, rgb(6, 21, 60), rgb(26, 46, 98));
  height: 5.4rem;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.06rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 2.4rem;
  width: 100%;
}

.congrats {
  margin-right: 2rem;
}

.announcement {
  font-weight: 700;
}

.know-more {
  color: #1e96fc;
  cursor: pointer;
}

/*****************HEADER**********************/

.header {
  height: 9.2rem;
  width: 100%;
  padding: 1% 6.6rem 1% 7.5rem;
}

.header--wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2.4rem;
  position: relative;
  width: 100%;
}

.para {
  line-height: 2rem;
}

.pensionbox-logo {
  align-self: flex-end;
  cursor: pointer;
  height: auto;
  width: auto;
}

.header--label {
  position: absolute;
  top: 0.6rem;
  display: flex;
  align-items: center;
  color: #1e96fc;
}

.label--para {
  font-size: 1.2rem;
  line-height: 2.7rem;
  font-weight: 600;
  font-family: Montserrat;
}
.hidden-nav-wrapper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  background-color: #fcfcfc;
  padding: 2% 4.2%;
  overflow: scroll;
  transform: translateX(100%);
  transition: all 0.45s ease-out;
}

.hidden-nav--header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
}

.cut {
  display: none;
}

.btn-mobile-nav {
  stroke: #1a2e62;
}

.actual-nav-wrapper {
  padding-top: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.close {
  font-size: 3.2rem;
  cursor: pointer;
}

.hidden-nav--btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.hidden-nav--btn {
  padding: 1.2rem 0;
}

.hidden-nav--link {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  color: rgb(30, 150, 252);
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1.8rem;
}

/****************************************/
/**************SECTION-HERO**************/
/****************************************/

.hero--page-wrapper {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 2% 0 2%;
}

.hero--page-wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.2rem;
  padding-top: 5%;
  margin-top: 12%;
}

.hero--left-container {
  padding: 57.04px 0px 8.6px;
}

.heading-wrapper {
  color: rgb(26, 46, 98);
}

.heading-primary {
  font-size: 7rem;
  line-height: 8.6rem;
  font-family: Montserrat;
}

.hero--for-you {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 4.6rem;
  margin-top: 0.6rem;
}

.heading-primary--for {
  font-size: 3.2rem;
  line-height: 3.9rem;
  font-weight: 500;
}

.heading-primary--you {
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: #1e96fc;
  font-weight: 500;
}

.hero--btn-wrapper {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.hero--btn-banner-wrapper {
  position: relative;
}

.hero--btn-banner {
  background-color: #1e96fc;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  top: -18%;
  right: 3%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #fcfcfc;
}

.hero--links-for-app {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.hero--app-icon-heading {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(26, 46, 98);
}

.hero--link {
  color: #1e96fc;
  text-decoration: none;
}

.hero--app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.divider {
  width: 0.1rem;
  height: 5.6rem;
  background-color: #dddddd;
  opacity: 50%;
}

.download {
  width: 100%;
}

.hero--right-container {
  justify-content: end;
}

.hero-mp4-container {
  height: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero--mp41 {
  width: 100%;
}

/****************************************/
/**********SECTION-CALCULATOR************/
/****************************************/

.section-calculator {
  margin-top: 11.4rem;
  padding: 2%;
}

.section--calculator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  flex-direction: column;
}

.calculator--heading-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}

.calculator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;
}

.calculator--pension-top {
  position: relative;
}

.calculator--left-label {
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #1a2e62;
  color: #fff;
  width: fit-content;
  border: 0.1rem solid #fff;
  font-family: Poppins;
  padding: 1rem 2.4rem;
  border-radius: 5rem;
  box-shadow: 0px 0 5.569px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -7%;
  right: 2%;
  z-index: 1;
}

.calculator--left-wrapper {
  border: 2.785px solid rgba(26, 46, 98, 0.2);
  padding: 4.1rem 2rem 4.1rem 3rem;
  position: relative;
  border-radius: 2rem;
  height: fit-content;
  /* width: fit-content; */
}

.calculator--left-heading {
  font-family: montserrat;
  color: #1a2e62;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1.3rem;
}

.amount-in-rupee-sign-left {
  color: #1e96fc;
  font-family: Roboto;
  font-weight: 500;
  font-size: 7.6rem;
}

.amount-in-input {
  outline: none;
  border: none;
  height: 10rem;
  width: 36rem;
  color: #1e96fc;
  background-color: #fcfcfc;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 7.6rem;
  border-bottom: 3px solid #cce0f2;
  transition: all 0.3s ease;
  padding-left: 2rem;
}

.amount-in-input:hover,
.amount-in-input:active {
  border-bottom: 3px solid #1e96fc;
}

.amount-in-input[type="number"]::-webkit-inner-spin-button,
.amount-in-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.amount-in-month-left {
  font-family: Montserrat;
  font-size: 2.1rem;
  color: rgb(26, 46, 98);
  font-weight: 600;
  line-height: normal;
  opacity: 0.45;
}

.calculator--arrow {
  background-color: #f6f6f6;
  height: fit-content;
  width: fit-content;
  padding: 1.4rem;
  border-radius: 50%;
  border: 1px solid #1a2e6233;
  position: absolute;
  top: 40%;
  right: -4%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.right-arrow {
  height: 1.8rem;
  width: 1.8rem;
  color: #999;
}

.calculator--left-bonus-point,
.calculator--link {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
}

.calculator--pension-bottom {
  margin-top: 1.2rem;
}

.calculator--left-bonus-point {
  opacity: 0.45;
  color: rgb(26, 46, 98);
}

.calculator--link {
  color: rgb(30, 150, 252);
  opacity: 1;
  cursor: pointer;
}

.calculator--right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
}

.calculator--invest-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.2rem;
}

.calculator--invest-top {
  background-color: #1a2e62;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 2rem;
}

.calculator--right-heading {
  font-family: Montserrat;
  font-size: 2.1rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.calculator--btn {
  background-color: #1e96fc;
  border-radius: 5rem;
  border: none;
  padding: 1.2rem 3rem;
  cursor: pointer;
}

.calculator--btn:hover {
  background-color: #48aaff;
  transition: all 0.2s ease;
}

.btn--span {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
}

.amount-in-rupee-sign-right,
.amount-in-num-right {
  font-size: 4.3rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: normal;
  font-family: montserrat;
}

.amount-in-num-right {
  padding-left: 1rem;
}

.amount-in-rupee-sign-right {
  font-family: Roboto;
  font-weight: 500;
}

.amount-in-month-right {
  font-family: Montserrat;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: normal;
}

.calculator--star {
  height: 1.6rem;
  width: 1.6rem;
  stroke: #fff;
  fill: #fff;
}

.calculator--right-bottom-wrapper {
  position: relative;
}

.calculator--right-label {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(91, 163, 0);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px;
  font-family: Poppins;
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: fit-content;
  width: fit-content;
  padding: 1rem 2.4rem;
  border-radius: 5rem;
  position: absolute;
  top: -18%;
  left: 2%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.amount-in-rupee-sign-bottom-right,
.amount-in-num-right-bottom {
  font-family: Montserrat;
  font-size: 3.7rem;
  color: rgb(26, 46, 98);
  font-weight: 700;
  line-height: normal;
}

.amount-in-num-right-bottom {
  padding-left: 1rem;
}

.amount-in-rupee-sign-bottom-right {
  font-weight: 500;
  font-family: Roboto;
}

.amount-in-para {
  font-family: Montserrat;
  font-size: 1.3rem;
  color: rgb(26, 46, 98);
  font-weight: 600;
  line-height: normal;
  opacity: 0.7;
}

.calculator--right-amount2 {
  background-color: rgba(91, 163, 0, 0.1);
  padding: 4rem 1.6rem 0.9rem;
  border-radius: 2rem;
}

/****************************************/
/**********SECTION-PRODUCT************/
/****************************************/

.section-product {
  margin-top: 11.4rem;
}

.section--product-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product--card-wrapper {
  padding: 3.2rem 12rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.product-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6% 5% 0px;
}

.card-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.instant {
  height: 2rem;
  width: 2rem;
}

.card-para {
  font-family: Poppins;
  font-size: 1.2rem;
  color: rgb(26, 46, 98);
  font-weight: 500;
  line-height: 1.6rem;
}

.card-time {
  font-family: Poppins;
  font-size: 1.2rem;
  color: rgba(26, 46, 98, 0.9);
  font-weight: 500;
  line-height: 1.6rem;
}

/****************************************/
/**********SECTION-ZIG-ZAG************/
/****************************************/

.section-zig-zag {
  margin-top: 5.2rem;
  display: grid;
  gap: 10.2rem;
  align-items: center;
  justify-items: center;
  padding: 0 10% 0 10%;
}

.sub-heading-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.zig-zag--video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zig-zag-video {
  height: 90%;
  width: 90%;
}

.know-more-btn {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  color: rgb(30, 150, 252);
  font-size: 1.2rem;
  background-color: rgba(30, 150, 252, 0.1);
  border-radius: 1rem;
  border: 1px solid #1e96fc;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.know-more-btn:hover,
.know-more-btn:active {
  background-color: #fcfcfc;
}

/****************************************/
/**********SECTION-TABLE************/
/****************************************/

.section-table {
  margin-top: 11.4rem;
}

.section-table-wrapper {
  width: auto;
  display: grid;
  align-items: center;
  justify-items: center;
}

.table--heading-wrapper {
  margin-bottom: 3.6rem;
}

.table-1 {
  width: 100%;
  height: 25rem;
  border-radius: 26px;
  border: 0.582px solid rgb(255, 255, 255);
  background: linear-gradient(rgb(26, 46, 98) 0%, rgb(6, 21, 60) 100%);
  padding: 87px 80px 78px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  position: relative;
  grid-column: 1/3;
}

.table-1--text--heading {
  font-family: Poppins;
  font-size: 3.9rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 109%;
}

.table-1--text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.table-1--text--label {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.61) 24.08%,
    rgba(255, 255, 255, 0.95) 51.54%,
    rgba(255, 255, 255, 0.46) 83.85%
  );
  padding: 4px 7px;
  border-radius: 3px;
  font-family: Poppins;
  font-size: 1.4rem;
  color: rgb(26, 46, 98);
  font-weight: 600;
  line-height: 109%;
  opacity: 0.9;
  width: fit-content;
}

.table-1--ul {
  list-style-type: disc;
  display: flex;
  gap: 50px;
  padding: 2.4rem;
}

.table-1--ul li {
  font-family: Poppins;
  font-size: 2.1rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 145%;
}

.table-1--button {
  background-color: rgb(24, 44, 98);
  border: 1.046px solid rgb(255, 255, 255);
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
  padding: 1.4rem 3.4rem;
  width: fit-content;
  border-radius: 1rem;
  position: absolute;
  top: 45%;
  right: 8%;
}

.table-1--button:hover,
.table-1--button:active {
  background-color: rgb(31, 56, 120);
  transition: all 0.4s ease;
}

.grid {
  display: grid;
  column-gap: 3.6rem;
  /* row-gap: 3.6rem; */
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.table-1--heading-label-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.table-2 {
  width: 100%;
  height: fit-content;
  border-radius: 9.307px;
  border: 0.582px solid rgb(255, 255, 255);
  padding: 4rem;
  cursor: pointer;
  background: linear-gradient(rgb(255, 173, 48) 44.73%, rgb(241, 165, 91) 100%);
}

.table-2--text-wrapper {
  display: flex;
  gap: 3.6rem;
}

.table-2--heading-label-wrapper {
  display: grid;
  align-items: center;
  gap: 0.5rem;
}

.table-2--text--heading {
  font-family: Poppins;
  font-size: 3.4rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 109%;
}

.table-2--text--label {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.61) 24.08%,
    rgba(255, 255, 255, 0.95) 51.54%,
    rgba(255, 255, 255, 0.46) 83.85%
  );
  padding: 0.4rem 0.7rem;
  border-radius: 0.3rem;
  font-family: Poppins;
  font-size: 1.3rem;
  color: rgb(124, 73, 0);
  font-weight: 600;
  line-height: 109%;
  opacity: 0.9;
  width: fit-content;
}

.table-2--ul {
  list-style-type: disc;
  color: rgb(255, 255, 255);
}

.table-2--ul li {
  font-family: Poppins;
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 145%;
}

.blue {
  background: linear-gradient(
      rgba(127, 196, 255, 0.43) 0%,
      rgb(30, 150, 252) 100%
    ),
    linear-gradient(rgb(26, 46, 98) 0%, rgb(6, 21, 60) 100%);
}

.white {
  background-color: rgba(255, 255, 255, 0.245);
  color: #fff;
  padding: 0.4rem 0.7rem;
  border-radius: 3px;
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 109%;
  opacity: 0.9;
  width: fit-content;
}

/***************************************/
/**********SECTION-TESTIMONIAL**********/
/***************************************/

.section-testimonial {
  margin-top: 13.5rem;
  overflow: hidden; /* Hide overflow to keep the layout clean */
  width: 100%; /* Ensure the container width covers the full screen */
}

.testimonial--heading {
  text-align: center;
  margin-bottom: 2rem;
}

.minor-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #1a2e62;
}

.color-blue {
  color: #007bff;
}

.minor-max-heading {
  font-size: 1.1rem;
  color: #1a2e62;
  opacity: 0.8;
}

/* Testimonial Wrapper Styling */

.testimonial--wrapper {
  white-space: nowrap;
  animation: scroll-horizontal 40s linear infinite;
  display: flex;
  position: relative;
  gap: 1.6rem;
}

.testimonial--wrapper:hover,
.testimonial--wrapper:active {
  animation-play-state: paused;
}

/* Testimonial Content Styling */

.testimonial {
  display: flex;
  gap: 16px; /* Add gap between cards */
  width: max-content; /* Ensure no cards shrink into overlapping */
  flex-shrink: 0;
  margin-top: 2rem;
}

.move-left {
  animation: move-left 40s linear infinite;
}

.card {
  width: 19.3rem; /* Card width */
  height: 27.1rem; /* Card height */
  flex-shrink: 0; /* Prevent shrinking during flex wrapping */
  border-radius: 18.403px;
  background: #fff;
  border: 1.77px solid rgb(225, 241, 255);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Ensure padding is within width/height */
}

.customer {
  width: 100%;
  height: 100%;
  border-radius: 7.403px;
  object-fit: cover;
}

/* Scroll Animation */
@keyframes scroll-horizontal {
  0% {
    transform: trnaslateX(0%); /* Start position */
  }
  100% {
    transform: translateX(-100%); /* Scroll full width of the first container */
  }
}

@keyframes move-left {
  0% {
    transform: translateX(-100%); /* Start position */
  }
  100% {
    transform: translateX(0); /* Scroll full width of the first container */
  }
}

/* Pause scrolling on hover */

.testimonial:hover,
.testimonial:active {
  animation-play-state: paused; /* Pause scrolling on hover */
}

/* Styling for Reply Section */
.reply {
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  color: rgb(26, 46, 98);
  font-weight: 500;
  line-height: 140%;
  opacity: 0.9;
  padding: 1.6rem 0.8rem 1.6rem 1.6rem;
  overflow-y: auto;
  white-space: wrap;
}

/* Author Info Styling */
.reply-by-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}

.by-name {
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
  color: rgb(26, 46, 98);
  font-weight: 600;
  line-height: 140%;
  opacity: 0.9;
}

.by-work {
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
  color: rgb(26, 46, 98);
  font-weight: 600;
  line-height: 140%;
  opacity: 0.6;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

.profile-text {
  font-family: Montserrat;
  font-size: 12px;
  color: rgb(26, 46, 98);
  font-weight: 500;
  line-height: 130%;
}

.profile-btn {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 1rem;

  background-color: rgb(30, 150, 252);
  border: none rgb(255, 255, 255);
  padding: 0.8rem 2.4rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

/***************************************/
/*************SECTION-STORY*************/
/***************************************/

.section-story {
  margin-top: 11.4rem;
}

.section-story-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
}

.stories-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.8rem;
}

.story2 {
  display: grid;
  justify-self: flex-start;
}

/***************************************/
/*************SECTION-SLIDER*************/
/***************************************/

.section-slider {
  margin-top: 4.2rem;
}

.slider-heading {
  font-family: Poppins;
  font-size: 2.4rem;
  color: rgb(26, 46, 98);
  font-weight: 700;
  line-height: 7.2rem;
  text-align: center;
}

.logo-brand-wrapper {
  display: flex;
  gap: 14.4rem;
}

.logos {
  gap: 18.2rem;
  /* Ensure no cards shrink into overlapping */
  flex-shrink: 0;
  margin-top: 2rem;
  overflow: hidden;
  /* white-space: nowrap; */
  animation: scroll-horizontal 20s linear infinite;
  display: flex;
  position: relative;
  width: max-content;
  margin-top: 9.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-wrapper {
  gap: 18.2rem;
  flex-shrink: 0;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
}

.logo-brand {
  height: 6.4rem;
  flex-shrink: 0; /* Prevent shrinking during flex wrapping */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  height: 80%;
  cursor: pointer;
}

.half {
  height: 3.2rem;
}

@keyframes logos {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/***************************************/
/*************SECTION-NEED*************/
/***************************************/

.section-need {
  margin-top: 13.3rem;
}

.need {
  position: relative;
  width: 25rem;
  height: 26rem;
  margin-top: 3.6rem;
  overflow: hidden; /* Ensure background fits neatly */
}

.need div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.need-img-1 {
  background-image: url("/images/need1.webp");
}

.need-img-2 {
  background-image: url("/images/need2.webp");
}

.need-img-3 {
  background-image: url("/images/need3.webp");
}

.need-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;
}

.need--header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 2rem 0 0 2rem;
}

.need-img {
  height: 2rem;
}

.need--heading {
  font-family: Poppins;
  font-size: 2rem1;
  color: rgb(188, 223, 253);
  font-weight: 600;
  line-height: 130%;
}

.need--img {
  height: auto;
  width: auto;
}

.need-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  padding: 5rem 1rem 0 2rem;
}

.need--li {
  font-family: Poppins;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: normal;
  text-shadow: rgba(0, 0, 0, 0.25) 0rem 0.1rem 1.09rem;
  border-bottom: 1px solid;
  text-decoration: none;
}

.top-left-white {
  transform: rotate(230deg);
  height: 1.8rem;
  width: 1.8rem;
  stroke: #fff;
}

.need--major-heading {
  font-family: Montserrat;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-weight: 800;
  line-height: 101%;
}

.need-listen-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  color: rgb(26, 46, 98);
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

.play {
  height: 1.6rem;
  width: 1.6rem;
}

.need--text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2rem;
}

.need--content-wrapper {
  position: relative;
}

.top-left {
  position: absolute;
  top: 12%;
  right: 12%;

  height: 3.2rem;
  width: 3.2rem;
  stroke: #1a2e62;
  transform: rotate(230deg);
  cursor: pointer;
  z-index: 1;
}

.need--btn-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2rem 0 5rem 2rem;
}

.need--small-heading {
  font-family: Montserrat;
  font-size: 4rem;
  color: rgb(26, 46, 98);
  font-weight: 800;
  line-height: 101%;
  cursor: pointer;
}

.need-blogs-btn {
  background-color: rgb(26, 46, 98);
  border: 0px rgb(255, 255, 255);
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.faq-mini-section-wrapper {
  margin-top: 4.2rem;
}

.faq-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2.4rem;
}

.faq {
  border: 0.1rem solid #ddd;
  border-radius: 0.6rem;
  padding: 0.8rem 1.6rem;
  width: 85.5rem;
  /* width: 100%; */
  margin-top: 1.2rem;
}

.bar-warpper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.show {
  color: #1a2e62;
  width: 100%;
  opacity: 0.8;
  font-size: 1.6rem;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 2.1rem;
}

.chevron {
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  font-size: 1.5rem;
  stroke: #555;
}

.hidden {
  font-family: Poppins;
  font-size: 1.4rem;
  color: rgb(26, 46, 98);
  font-weight: 500;
  line-height: 2.1rem;
  text-align: left;

  padding-left: 1.6rem;
  display: none;
}

/* HOVER-WORK */

.faq:active,
.faq:hover .hidden {
  display: block;
}

.faq:hover .chevron,
.faq:active .chevron {
  transform: rotate(180deg); /* Ensure "deg" is specified */
  transition: transform 0.3s ease; /* Smooth rotation */
}

.bar-step-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bar--step {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.bar--dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #007bff;
  border-radius: 50%;

  display: flex;
}

.bar--divider {
  height: 4.2rem;
  width: 2px;
  background-color: #48aaff;
}

.bar--step-heading {
  color: #6a6a6a;
  font-size: 1rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.5rem;
}

.bar--text1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bar-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2.4rem;
}

.bar--text2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/************************************/
/****************ASIDE***************/
/************************************/

.aside {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 99vw;
}

.aside-wrapper {
  position: relative;
}

.img-wrapper {
  height: 100vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rocket-img {
  max-height: 100%;
  width: 100%;
  z-index: -1;
}

.aside--heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 999;
}

.aside-primary-heading {
  font-family: Poppins;
  font-size: 2.4rem;
  color: rgb(26, 46, 98);
  font-weight: 600;
  line-height: 2.6rem;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.aside-sub-heading {
  font-family: Poppins;
  font-size: 1.6rem;
  color: rgb(26, 46, 98);
  font-weight: 600;
  line-height: 2.2rem;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
}

/************************************/
/*************FOOTER-MAIN************/
/************************************/

.main-footer {
  background: linear-gradient(to bottom, #fcfcfc, #a5d8ff);
}

.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
  padding-left: 18rem;
  padding-right: 18rem;
}

.logo2 {
  height: 6.8rem;
  width: 30rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-left: 1rem;
}

.scale {
  height: 3.8rem;
  width: 12.8rem;
}

.logo-social-wrapper {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.logo-social {
  font-size: 3.4rem;
  color: #1a2e62;
  cursor: pointer;
}

.footer-main-heading {
  font-family: Poppins;
  font-size: 1.8rem;
  color: rgb(26, 46, 98);
  font-weight: 700;
  line-height: 2.3rem;
  margin-bottom: 1.7rem;
}

.footer-main-ul li {
  font-family: Poppins;
  font-size: 1.8rem;
  color: rgb(26, 46, 98);
  font-weight: 500;
  line-height: 2rem3;
  cursor: pointer;
  list-style: none;
  margin-bottom: 1.4rem;
}

.footer-main-ul a {
  text-decoration: none;
}

.nav-part {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  row-gap: 2.4rem;
  column-gap: 8.2rem;
}

.back-img {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.2rem;
  box-shadow: 0 1rem 0.6rem rgba(153, 153, 153, 0.017);
}

.the-end {
  padding: 4.2rem;
  background-color: #fcfcfc;
  font-family: Poppins;
  font-size: 1.4rem;
  color: rgb(26, 46, 98);
  font-weight: 500;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 3.2rem;

  display: flex;
  justify-content: space-between;
}

.end-divider {
  width: 2px;
  height: 2rem;
  background-color: #ddd;
  margin: 0 2rem 0 2rem;
}

.copyright {
  background-color: #fcfcfc;
  font-family: Poppins;
  font-size: 1.4rem;
  color: rgb(26, 46, 98);
  font-weight: 500;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 0.8rem;
}

.terms {
  display: flex;
  cursor: pointer;
}
